body { background-color:#D9D9D9}
#mecalcs { background-color:#D1D1D1;border:2px inset;padding:2px;}
#timecalcs { background-color:#D1D1D1;border:2px inset;margin-top:10px;padding:2px;}
#prices {background-color:#C9C9C9;border:1px dotted;padding:2px;}
td {background-color:#EEEEEE}
.icon32 {vertical-align:middle;}
.icon64 {vertical-align:middle;}
.perfect {background-color:green;}
