body {
	cursor				: default;
	background-color	: #d9d9d9;
}

td {
	background-color	: #eeeeee;
}

.icon32 {
	vertical-align		: middle;
}

.icon64 {
	vertical-align		: middle;
}

.perfect {
	background-color	: green;
}

#priceheader {
	margin-top			: 0;
	margin-bottom		: 0;
	text-align			: center;
	width				: 100%;
	font-size			: 1.875em;
	cursor				: move;
}

.ui-menu .ui-menu-item a {
	display				: block;
	line-height			: 1;
	padding				: 0.2em 0.4em;
	text-decoration		: none;
}
